<launch>
        <node pkg="tf_utils" type="tf_utils_loam_cam_to_map_transform" name="loam_cam_to_map_transform" output="screen" >
              <param name="map_frame" value="map" />
              <param name="robot_frame" value="base_link" />
              <param name="sensor_frame" value="velodyne" />
              <param name="velodyne_frame" value="velodyne" />
              <param name="odom_frame" value="odom" />
        </node>

        <!-- Uncomment this if no odom option is used -->
        <!--node pkg="tf" type="static_transform_publisher" name="vel_to_baselink" args="-0.05 0 -0.6 0 0 0 velodyne base_link 100" /-->
        
</launch>